<div class="container">
  
  <div class="row">
    <h1 class="text-center"> Inventory App</h1>
  </div>

  <div class="row text-center">
    
    <div class="col-xs-3">
      <h4>Add a Family</h4>
      <form class="login well">
      <input type="text" placeholder="Family Name" />
      <input type="submit" value="Register" class="btn btn-success btn-sm" ng-click="" />
      </form>
    </div>

    <div class="col-xs-3">
      <h4>Add an Inventory</h4>
      <form class="login well">
      <input type="text" placeholder="Inventory Type" />
      <input type="submit" value="Register" class="btn btn-success btn-sm" ng-click="" />
      </form>

    </div>

    <div class="col-xs-3">
      <h4>Add a Category</h4> 
      <form class="login well">
      <input type="text" placeholder="Category Name" />
      <input type="submit" value="Register" class="btn btn-success btn-sm" ng-click="" />
      </form>

    </div>
    
    <div class="col-xs-3">
      <h4>Add a Product</h4>
      <form class="login well">
      <input type="text" placeholder="Product Name" />
      <input type="submit" value="Register" class="btn btn-success btn-sm" ng-click="" /> 
    </div>
  
  </div>

  <div class="row">
    <div class="col-xs-4">
    
      <input type="submit" value="Show Families" class="btn btn-success btn-sm" ng-click="getFamilies()" />
      <h4>Families to choose:</h4>  
      <ul>
        <li ng-repeat="family in families">
          Family Name:  {{family.name}}<br>
        </li>
      </ul>
    </div>

    <div class="col-xs-4"></div>
    <div class="col-xs-4"></div>

    <div class="col-xs-12 text-center">
      <h3>Family Inventory</h3>
      <input type="submit" value="Show my food" class="btn btn-success btn-sm" ng-click="getFood()" />
      <ul>
        <li ng-repeat="x in food">
          Product Name:  {{x.name}}<br>
          Product Price: {{x.price}}<br>
          Product Stock: {{x.stock}}<br>
        </li>
      </ul>
    </div>
  </div>

</div>
